{% extends "maestra.html" %}
{% block titulo %} ventas {% endblock %}

{% block contenido %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<section class="section">
    <div class="columns">
        <div class="column">
            <span class="log">Logueado como {{ session["usuario"] }}  </span> <a href="{{url_for('logout')}}" class="negrito">EXIT</a>
            <h3 class="is-size-3">VENTAS 
             
            </h3>
            {% if session["logged"] %}
            <a href="{{url_for('formulario_agregar_venta')}}" class="button is-success">Agregar Venta &nbsp;</p><i class="fa-regular fa-file-lines"></i></a>
            {% endif %}
             
            <table class="table" id="xD">
                <thead >
                    <tr>
                        <th>ID</th>
                        <th>Comprobante</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Dirección</th>
                        <th>Juego</th>
                        <th>Cantidad</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}
                    <tr>
                        <td>{{venta[0]}}</td>
                        <td>{{venta[1]}}</td>
                        <td>{{venta[2]}}</td>
                        <td>{{venta[3]}}</td>
                        <td>{{venta[4]}}</td>
                        <td>{{venta[5]}}</td>
                        <td>{{venta[6]}}</td>
                        <td>
                            {% if session["logged"] %}
                            <form action="{{url_for('eliminar_venta')}}" method="POST">
                                <input type="hidden" name="id" value="{{venta[0]}}">
                                <button class="button is-danger">Eliminar &nbsp; <i class="fa-solid fa-trash-can"></i></button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
    <a href="{{url_for('juegos')}}" class="btnu" aria-hidden="true">Ver discos </a>
</section>
{% endblock %}